@navigation__background: transparent;
@font-family-name__base: 'Karla';
@navigation-level0-item__active__border-color: @primary__color;
@navigation-desktop-level0-item__active__border-color: @primary__color;